<style type="text/css">
  #body{
    background: url(img/baobab.svg) no-repeat top left;
    background-size: contain;
    overflow: hidden;
    margin: 0;
  }
</style>

<div id="body">
</div>

<script src="site_libs/d3/d3.v3.min.js"></script>
<script>
	
	var width = 200,
    height = 200, 
    m = 250, // number of clusters -- this must match with length(x) and length(y)
    n = 500; // number of points

var color = d3.scale.category10()
    .domain(d3.range(m));

var x = [0.9, 0.9, 0.54, 0.92, 0.5, 0.6, 0.55, 0.99, 1, 0.85, 0.53, 0.98, 0.61, 0.49, 1.06, 0.94, 0.68, 0.8, 0.89, 1.03, 0.49, 0.85, 0.55, 0.65, 0.87, 1.01, 0.5, 0.56, 0.65, 0.71, 0.82, 0.59, 0.63, 0.6, 0.86, 0.64, 0.51, 0.51, 0.68, 0.99, 0.56, 0.73, 0.82, 0.63, 0.55, 0.85, 0.56, 0.5, 0.72, 0.94, 0.89, 0.82, 0.54, 0.94, 0.69, 0.63, 0.58, 0.75, 0.49, 0.82, 0.96, 0.49, 0.5, 0.74, 0.53, 1.01, 0.6, 0.77, 0.62, 0.61, 0.87, 0.61, 0.95, 0.74, 0.48, 0.53, 0.86, 0.64, 0.65, 0.65, 0.85, 0.54, 0.55, 0.64, 0.57, 0.97, 0.71, 0.6, 0.93, 0.93, 0.59, 0.8, 0.61, 0.53, 0.78, 0.6, 0.99, 0.77, 0.91, 1.02, 0.55, 0.57, 0.89, 0.96, 0.65, 0.56, 0.91, 0.62, 0.92, 0.65, 0.88, 0.83, 0.49, 0.67, 0.79, 0.76, 0.66, 0.65, 0.72, 0.5, 0.48, 0.87, 0.78, 0.49, 0.96, 0.17, 0.96, 1.05, 0.49, 0.14, 0.57, 0.29, 0.14, 0.21, 0.72, 0.78, 0.4, 0.89, 0.34, 1.08, 0.73, 0.4, 0.07, 0.19, 0.17, 0.85, 0.42, 0.62, 0.4, 0.68, 0.8, 0.53, 1.07, 0.14, 0.02, 1.09, 0.99, 0.92, 0.68, 0.13, 0.23, 0.32, 0.31, 0.2, 0.49, 1.08, 0.11, 0.94, 1.1, 0.25, 0.33, 0.21, 0.63, 0.21, 0.36, 0.55, 0.23, 0.51, 0.09, 0.15, 0.28, 0.81, 1, 0.25, 1.08, 0.18, 0.58, 0.34, 1.03, 0.81, 1.12, 0.37, 0.6, 0.45, 0.07, 0.45, 0.45, 0.2, 0.27, 0.08, 1, 0.45, 0.08, 0.35, 1.13, 0.3, 0.88, 1.11, 0.16, 0.1, 0.4, 0.22, 0.44, 0.65, 0.19, 0.05, 0.25, 0.76, 0.03, 1.08, 0.25, 0.22, 1.05, 0.03, 1.11, 0.11, 0.27, 0.29, 0.29, 0.76, 0.28, 0.04, 0.97, 0.08, 0.1, 0.24, 0.4, 0.06, 0.33, 1.04, 0.15, 0.85, 0.71, 0.35, 0.18, 1.09, 0.14, 0.21, 0.12, 0.2];

var y = [0.51, 0.64, 0.92, 0.36, 0.35, 0.62, 0.38, 0.37, 0.97, 0.85, 0.68, 0.58, 0.4, 0.63, 0.97, 0.89, 0.61, 0.75, 0.71, 0.47, 0.83, 0.53, 0.33, 0.43, 0.77, 0.42, 0.95, 0.89, 0.8, 0.39, 0.3, 0.29, 0.98, 0.52, 0.48, 0.63, 0.29, 0.87, 0.65, 0.48, 0.72, 0.57, 0.61, 0.91, 0.48, 0.66, 0.77, 0.77, 0.61, 0.32, 0.61, 0.81, 0.63, 0.62, 0.57, 0.85, 0.43, 0.29, 0.46, 0.41, 0.45, 0.51, 0.72, 0.42, 0.44, 0.53, 0.67, 0.59, 0.71, 0.48, 0.41, 0.34, 0.95, 0.64, 0.57, 0.52, 0.57, 0.67, 0.55, 0.95, 0.36, 0.82, 0.97, 0.59, 0.57, 0.81, 0.69, 0.81, 0.75, 0.56, 0.96, 0.57, 0.77, 0.59, 0.63, 0.89, 0.86, 0.35, 0.47, 0.91, 0.54, 0.68, 0.97, 0.4, 0.88, 0.85, 0.82, 0.56, 0.41, 0.5, 0.3, 0.71, 0.4, 0.3, 0.67, 0.71, 0.37, 0.74, 0.34, 0.67, 0.91, 0.91, 0.39, 0.98, 0.51, 0.6, 0.22, 0.31, 0.18, 0.46, 0.03, 0.12, 0.24, 0.75, 0.04, 0.06, 0.1, 0.11, 0.8, 0.4, 0.81, 0.82, 0.27, 0.24, 0.71, 0.09, 0.15, 0.04, 0.05, 0.09, 0.12, 0.13, 0.26, 0.67, 0.46, 0.31, 0.17, 0.18, 0.04, 0.56, 0.14, 0.09, 0.26, 0.64, 0.1, 0.59, 0.29, 0.13, 0.5, 0.66, 0.13, 0.19, 0.08, 0.57, 0.7, 0.08, 0.27, 0.03, 0.38, 0.18, 0.18, 0.07, 0.24, 0.6, 0.35, 0.3, 0.16, 0.74, 0.27, 0.17, 0.38, 0.16, 0.13, 0.76, 0.48, 0.83, 0.13, 0.44, 0.3, 0.53, 0.68, 0.05, 0.34, 0.23, 0.48, 0.7, 0.19, 0.43, 0.52, 0.23, 0.74, 0.52, 0.19, 0.15, 0.14, 0.3, 0.77, 0.16, 0.4, 0.53, 0.1, 0.7, 0.64, 0.53, 0.55, 0.42, 0.72, 0.76, 0.65, 0.1, 0.22, 0.35, 0.72, 0.44, 0.62, 0.34, 0.21, 0.57, 0.18, 0.21, 0.39, 0.14, 0.14, 0.06, 0.49, 0.47, 0.34, 0.39, 0.49, 0.35]

var scale = 150; // scale the R letter

var nodes = d3.range(n).map(function(j) {
  var i = j % m;
  //var i = Math.floor(Math.random() * m);
  var group = Math.floor(i / 125);
  if(group == 0){var col = "#2171b5";} else{var col = "#969696";}
    return {
    radius: Math.random() * 1 + 1.5,
    color: col,
    cx: scale*x[i],
    cy: scale*y[i]
  };
});

var  root = nodes[0],
    color = d3.scale.category10();

root.px = width;
root.py = height;
root.radius = 0;
root.fixed = true;

var force = d3.layout.force()
    .gravity(0)
    .charge(function(d, i) { return i ? 0 : -250; })
    .nodes(nodes)
    .size([width, height]);

force.start();

var svg = d3.select("#body").append("svg")
    .attr("width", width)
    .attr("height", height);

svg.selectAll("circle")
    .data(nodes.slice(1))
  .enter().append("circle")
    .attr("r", function(d) { return d.radius; })
    .style("fill", function(d, i) { return d.color; });

force.on("tick", function(e) {
  var q = d3.geom.quadtree(nodes),
      i = 0,
      n = nodes.length;

  while (++i < n) q.visit(collide(nodes[i]));

  svg.selectAll("circle")
      .each(gravity(.5 * e.alpha))
      .each(collide(.05))
      .attr("cx", function(d) { return d.x; })
      .attr("cy", function(d) { return d.y; });
});

svg.on("mousemove", function() {
  var p1 = d3.mouse(this);
  root.px = p1[0];
  root.py = p1[1];
  force.resume();
});

// Move nodes toward cluster focus.
function gravity(alpha) {
  return function(d) {
    d.y += (d.cy - d.y) * alpha;
    d.x += (d.cx - d.x) * alpha;
  };
}


function collide(node) {
  var r = node.radius + 16,
      nx1 = node.x - r,
      nx2 = node.x + r,
      ny1 = node.y - r,
      ny2 = node.y + r;
  return function(quad, x1, y1, x2, y2) {
    if (quad.point && (quad.point !== node)) {
      var x = node.x - quad.point.x,
          y = node.y - quad.point.y,
          l = Math.sqrt(x * x + y * y),
          r = node.radius + quad.point.radius;
      if (l < r) {
        l = (l - r) / l * .5;
        node.x -= x *= l;
        node.y -= y *= l;
        quad.point.x += x;
        quad.point.y += y;
      }
    }
    return x1 > nx2 || x2 < nx1 || y1 > ny2 || y2 < ny1;
  };
}

</script>
